/************************
Import Fonts
************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");

/************************
Universal Styles
************************/
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    /* Fonts */
    --Montserrat: "Montserrat", sans-serif;
    --Josefin: "Josefin Sans", sans-serif;
    --GVibes: "Great Vibes", cursive;
    /* Theme Colors */
    --Gold-Theme: #ffb404;
    --Blue-Theme: #33bbff;
    --Blu-Pnk-Pur-Gradient: linear-gradient(90deg,
            rgba(51, 187, 255, 1) 0%,
            rgba(101, 46, 199, 1) 50%,
            rgba(254, 11, 157, 1) 100%);
}

body {
    background: #110213;
    color: white;
    font-family: var(--Montserrat);
    letter-spacing: .03rem;
    font-size: 1rem;
}

h1 {
    font-family: var(--GVibes);
    font-size: 4rem;
    color: var(--Gold-Theme);
}

h2 {
    font-family: var(--Josefin);
}

/************************
Header Style
************************/
header {
    background-image: url(../images/blk_seq_bg.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
}

header .container {
    padding: 0.1rem 4rem;
    background: #110213;
}

header .logo {
    display: inline-block;
    max-width: 30%;
    float: left;
}

header nav {
    padding: 2rem 0 2rem 0;
    display: inline-block;
    width: 65%;
    text-align: right;
}

header li {
    display: inline;
}

.nav-item {
    padding: 0 .5rem .2rem .5rem;
}

.nav-item a {
    text-decoration: none;
}

.nav-link {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--Josefin);
    color: var(--Blue-Theme);
}

.nav-link:hover {
    color: white !important;
    transition: all 500ms ease;
}

.hover-border {
    position: relative;
}

.hover-border::after {
    content: "";
    width: 0%;
    height: 0.3rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 2rem;
    transition: all 500ms ease;
    background: var(--Blu-Pnk-Pur-Gradient);
}

.hover-border:hover::after {
    left: 0%;
    width: 100%;
}

.top-border-bar {
    background: var(--Blu-Pnk-Pur-Gradient);
    height: .2rem;
}

/************************
Main Style
************************/

main .container {
    padding: 8rem 10rem 3rem 10rem;
    position: relative;
    text-align: center;
}

/************************
Footer Style
************************/
footer .container {
    padding: 0.1rem 4rem 2rem 4rem;
    text-align: center;
}

/************************
Form Style
************************/

.input-form {
    padding: .75rem 0;
}

.input-label,
.select-label {
    font-family: var(--Josefin);
    font-size: 1.25rem;
    padding: 0 0 .25rem 0;
}

.input-label {
    display: block;
}

input,
select,
textarea {
    padding: .5rem;
    outline: none;
    border: 2px solid pink;
}

input::placeholder {
    color: rgb(187, 187, 187);
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
    border: 3px solid var(--Gold-Theme);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

textarea {
    width: 50%;
    height: 150px;
    padding: .5rem .5rem;
    box-sizing: border-box;
    resize: none;
}

input[type=submit] {
    background: var(--Blu-Pnk-Pur-Gradient);
    background-size: 300%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    cursor: pointer;
    margin: 1rem 1rem;
    padding: .5rem 2rem;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

input[type=submit]:hover {
    background-position: right;
    border: 1px solid transparent;
    outline: none;
}