/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

/* GLOBAL */
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(214, 255, 255, 1) 100%);
}

/* FORM */
main {
    width: 30%;
    margin: 1rem auto;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Montez', cursive;
    font-size: 2rem;
    padding: 2rem 0 0;

}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.name-label,
.pass-label,
.email-label,
.phone-label,
.phone-ex,
.degree-label,
.year-label,
.comments-label {
    color: rgb(4, 193, 240);
    display: block;
    font-size: .95rem;
    font-weight: 600;
    padding: .5rem 0 0;
}

.degree-label,
.year-label,
.comments-label,
.submit {
    margin: 1rem 0 0;
}

.phone-ex {
    font-size: .65rem;
    color: grey;
    padding: 0;
}

.name,
.password,
.email,
.phone,
.year,
.comments {
    width: 100%;
}

.submit {
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: rgb(4, 193, 240);
    padding: .15rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.submit:hover {
    background: rgb(79, 4, 240);
}

.errormsg {
    color: red;
    text-transform: uppercase;
    font-size: .75rem;
    text-align: center;
    padding: 1rem 0;
}

/* RESULTS PAGE */
.hello {
    text-align: center;
}

.contact-info,
.comments-info,.degree-info {
    padding: 1rem 0 0;
}
.contact-info h3,
.comments-info h3,.degree-info h3 {
    color: rgb(4, 193, 240);
}
.contact-info p {
    padding: 0;
    margin: 0;
}